.header__container{
    display: flex;
    align-items: center;
}

.header{
    color: var(--text-color-light);
    background: var(--main-color);
    padding: 20px;
    height: 200px;
}

.logo{
    margin-right: 5px;
    img{
        width: 30px;
    }
}